<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    var options = {
        "key": "rzp_test_ZHr3v3RWovdK7j",
        "amount": "50000",
        "currency": "INR",
        "name": "Pcbuild",
        "description": "Payment",
        "handler": function (response) {
            window.location.href = "{% url 'home' %}";
        },
        "prefill": {
            "name": "Manikandan",
            "email": "manikandan77492@gmail.com",
            "contact": "9600520080",
            "logo": "url('/static/images/logo.png')"
        },
        "theme": {
            "color": "#3498db"
        }
    };
    var rzp = new Razorpay(options);
    rzp.open();
</script>
